<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Study Planner</title>
</head>

<body>

    <h1>Create Account</h1>

    <form action="/register" method="post">

        <input
            name="username"
            placeholder="Username"
            type="text">

        <br><br>

        <input
            name="password"
            placeholder="Password"
            type="password">

        <br><br>

        <input
            name="confirmation"
            placeholder="Confirm Password"
            type="password">

        <br><br>

        <button type="submit">Register</button>

    </form>

</body>
</html>
